*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}
a{
    text-decoration: none;
}